<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django App{% endblock %}</title>
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    
</head>
<body class="bg-gray-100 text-gray-900">


    <nav class="bg-blue-600 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'app:index' %}" class="text-white text-lg font-bold">
                Mission control
            </a>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'app:dashboard_landing_page' %}" class="text-white px-4">Dashboard</a>
                    <a href="{% url 'account_logout' %}" class="text-white bg-red-500 px-4 py-2 rounded">Logout</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="text-white px-4">Login</a>
                    <a href="{% url 'account_signup' %}" class="text-white bg-green-500 px-4 py-2 rounded">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    
    <div class="container mx-auto mt-8 p-6">
    
    </div>


    <footer class="bg-gray-800 text-white text-center p-4 mt-8">
        <p>&copy; 2025 Django Starter App. All Rights Reserved.</p>
    </footer>

</body>
</html>
